.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: black; */
    margin: 0.5rem auto;
    width: 50vw;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    .about {
        width: 90vw;
    }
}