.favorites {
    width: 50vw;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .favorites {
        width: 90vw;
    }    
}