.results {
    /* background-color: green; */
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 80vw; */
    width: 30%;
    margin: 5px 15px;
    padding: 0;
    list-style: none;
}

.resultBox {
    /* color: white; */
    /* background-color: #47A297; */
    margin: 10px auto;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    width: 100%;
    transition: box-shadow 0.3s, width 0.3s, transform 0.3s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
    }

    .resultInfo .resultInfoImage {
        height: auto;
        width: 100%;
        /* max-height: 640px; */
        border-radius: 5px;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .results {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
}