.search__header {
    /* color: white; */
    text-align: center;
}

.search {
    /* color: white; */
    /* background-color: rgb(71, 162, 151); */
    /* background-color: #799654; */
    width: 50vw;
    margin: 2rem auto;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
}

.search__main {
    /* background-color: rgb(109, 189, 180); */
    margin: 1rem auto;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__main input {
    height: 3rem;
    width: 50%;
    font-size: 1rem;
    text-align: center;
}

.search__main button {
    height: 3rem;
    /* background-color: #f5ff64; */
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    font-size: 1rem;
    font-weight: 600;
    color: #292929;
    cursor: pointer;
}

.shimmering-btn {
    background: linear-gradient(
        to right,
        #EE9B00 20%,
        #ffffff 40%,
        #EE9B00 60%,
        #EE9B00 100%
      );
      background-size: 200% auto;
      animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

.search input, .search select{
    color: #292929;
    border: none;
    border-radius: 15px;
}

.filters .filter-item {
    padding: 0.2rem;
    margin: 0.2rem;
}

.filters .filter-item select,
.filters .filter-item input {
    margin: 0 0.5rem;
}

.bed-and-bath option {
    color: #292929;
}

@media screen and (max-width: 768px) {
    .search {
        width: 90vw;
    }

    .search__main {
        flex-direction: column;
    }

    .search__main input {
        width: 80%;
        font-size: 0.8rem;
    }

    .search__main button {
        margin-top: 1rem;
    }

    /* Not sure why this is not applying */
    .filters .filter-item input.filter-input {
        padding-left: 10px;
    }

    .filters .propertyTypes {
        display: flex;
        flex-direction: column;
    }
    
}