.authenticate {
    color: white;
    background-color: #47A297;;
    text-align: center;
    width: 60vw;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
}

.authenticate form {
    /* Add a line break after each element */
    display: block;
    align-items: center;

}

.authenticate form input {
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
} 

.authenticate form button {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 40%;
    font-size: 1.2rem;
    background-color: #f5ff64;
    /* color: white; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.passwordRequirements p {
    width: 100%;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 768px){
    .authenticate {
        /* Add a line break after each element */
        width: 90vw;

    }
    .authenticate form button {
        margin: 1rem auto;
        width: 80%;
    }
    
}