.navigateBackButton {
    border: none;
    margin-right: 0.5rem;
    padding: 5px;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: lightcoral;
    color: #007bff;
    cursor: pointer;
}

.navigateBackButton:hover {
    transform: scale(1.1);
}

.navigateBackButton:active {
    transform: scale(0.9);
}
