.toast {
    /* position: fixed;
    bottom: 20px;
    right: 20px; */
    width: 30%;
    margin: 0 auto;
    /* background-color: #47A297; */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .toast__message {
    flex: 1;
  }
  
  .toast__close {
    /* background: #F5FF64; */
    border-radius: 5px;
    border-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
  }

  .toast__close:hover {
    scale: 1.1;
  }
  
  @media screen and (max-width: 768px){
    .toast {
      width: 80%;
    }    
  }